.place_margin_first{
  margin: 92px auto 0;
}

@media screen and (max-width: 768px) {
  .place_margin_first{
    margin: 88px auto 0;
  }
}

@media screen and (max-width: 320px) {
  .place_margin_first{
    margin: 64px auto 0;
  }
}
