.place_margin{
  margin: 92px 0 0;
}

@media screen and (max-width: 768px) {
  .place_margin{
    margin: 88px 0 0;
  }
}

@media screen and (max-width: 320px) {
  .place_margin{
    margin: 64px 0 0;
  }
}
