.place__text{
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: white;
  grid-area: text;
  width: 100%;
  margin: 0;
}

.place__text:nth-child(even) {
  margin-top: 26px;
}


@media screen and (max-width: 768px) {
  .place__text{
    font-size: 16px;
    line-height: 163%;
  }
  .place__text:nth-child(even) {
    margin-top: 25px;
  }
}

@media screen and (max-width: 320px) {
  .place__text {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
}
