.place__link-heading{
  grid-area: link;
  color:#AAAAAA;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  margin:0 0 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
  align-self: end;
}

@media screen and (max-width: 768px){
  .place__link-heading{
    font-size: 12px;
    line-height: 12px;
  }
}

@media screen and (max-width: 320px){
  .place__link-heading {
    margin-left: 15px;
  }
}
