.description__caption{
  margin: 8px auto 0;
  width: 100%;
  max-width: 984px;
  color: white;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px){
  .description__caption{
    max-width: 928px;
  }
}

@media screen and (max-width: 768px){
  .description__caption{
    width: 95%;
  }
}

@media screen and (max-width: 320px){
  .description__caption{
    width: 90%;
  }
}
