.intro__text{
  padding: 0 0 0 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: white;
  margin: 40px 0 0;
  max-width: 690px;
  min-width: 288px;
}

@media screen and (max-width: 1024px){
  .intro__text{
    margin-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 320px){
  .intro__text{
    margin-left: 0;
    padding-right: 15px;
  }
}
