.cover{
  position: relative;
  width: 100%;
  max-width: 1184px;
  min-height: 740px;
  margin: 90px auto 0;
}

@media  screen and (max-width: 1024px) {
  .cover{
    max-width: 1024px;
    min-height: 640px;
  }
}

@media  screen and (max-width: 768px) {
  .cover{
    min-height: 480px;
    margin: 0 auto 0;
  }
}



@media  screen and (max-width: 320px) {
  .cover{
    min-height: 200px;
  }
}
