.description__subtitle{
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  max-width: 640px;
  min-width: 288px;
  margin: 0;
  padding: 0 11% 0;
}

@media screen and (max-width: 690px){
  .description__subtitle{
    font-size: 20px;
    line-height: 26px;
  }
}

@media screen and (max-width: 425px){
  .description__subtitle{
    font-size: 16px;
    line-height: 20px;
    margin: 16px 0 0;
  }
}
