.cover__background{
  background-image: url("../../../images/cover__background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: flex;
  height: calc(100vw/2);
  flex-direction: column;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cover__background:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0.3;
  z-index: 1;
}

.cover__background:hover:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0.5;
  z-index: 1;
}
