.place{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(320px,max-content));
  grid-template-rows: repeat(6, max-content);
  grid-template-areas:
  "title ."
  "title heading"
  "title link"
  "img text"
  "img text2"
  "img .";
  justify-content: center;
  column-gap: 30px;
  row-gap: 35px;
  margin: 0;
}

@media screen and (max-width: 700px){
  .place{
    margin: 64px 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fit,320px);
    grid-template-rows: repeat(6, max-content);
    grid-template-areas:
  "title"
  "heading"
  "link"
  "img"
  "text"
  "text2";
  }
}

