.intro__title{
  margin: 0;
  padding-left: 15px;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: white;
  max-width: 690px;
  min-width: 288px;
}

@media screen and (max-width: 1024px){
  .intro__title{
    margin-left: 15px;
  }
}

@media screen and (max-width: 320px){
  .intro__title{
    margin: 0;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
  }
}
